#compass-business {
    float: left;
    width: 80%;
    padding: 0.5em;
}

#close-compass {
    float: right;
    width: 8%;
    font-size: 1.5em;
    text-align:right;
    cursor: pointer;
}

.business-name{
    font-size: 1em;
}
.business-distance {
    width: 50px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

.compass-container {
    position: relative;
    clear: both;
}

.compass-background, .compass-hands, .compass-head {
    position: absolute;
    top: 0px;
    left: 0px;
    width:auto;
    height:auto;
}

.compass-hands {
    z-index: 5;
}

.compass-head {
    z-index: 10;
}

.compass-image {
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:90%;
    margin:0 auto;
}

.business-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.thumbnail {
    margin-bottom: 20px;
}

.thumbnail-name {
    margin-right: 10px;
    font-size: 1em;
}

.thumbnail-details {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.thumbnail-category {
    font-size: .8em;
    margin-bottom: 10px;
}

.thumbnail-website {
    font-size: .8em;
    margin-bottom: 5px;
}

.thumbnail-address {
    display: flex;
    display: -webkit-flex;
    align-items: baseline;
}

.thumbnail-direction {
    text-align: center;
    width: 50px;
    margin-right: 10px;
}

.thumbnail-direction-icon {
    cursor: pointer;
}