<div id="compass-business">
    <div class="business-name"><a href="{{business.url}}">{{business.name}}</a></div>
    <div class="business-name" ng-bind-html="addressFormatted">{{addressFormatted}}</div>

</div>
<div id="close-compass" ng-click="leaveCompassMode()">
    X
</div>

<div class="compass-container">
    <div class="compass-background">
        <img class="compass-image" src="assets/images/payne_compass_bg.png" title="Payne Compass">
    </div>
    <div class="compass-hands" style="transform: rotate({{getDirection()}}deg);-webkit-transform: rotate({{getDirection()}}deg);">
        <img class="compass-image" src="assets/images/payne_compass_hands.png" title="Go that way">
    </div>
    <div class="compass-head" >
        <img class="compass-image" src="assets/images/payne_compass_face.png" title="It's over here">
    </div>
</div>

<div class="business-distance">
<img ng-src="assets/images/loading.gif" ng-show="!business.showDistance" width="40px" height="40px">
<span>{{getDistance()}}<br>{{units}}</span>
</div>
