<div class="thumbnail">

    <div>
        <a class="thumbnail-name" href="{{business.url}}">{{business.name}}</a>
    </div>
    <div>
        <a class="thumbnail-website" title="(website)" ng-href="{{business.storeUrl}}" ng-if="business.storeUrl">(Website)</a>
    </div>
    <div class="thumbnail-details">
        <div ng-click="showCompass(business)" class="thumbnail-direction">
            <img ng-show="business.showDirection" src="assets/images/arrow645.png" class="thumbnail-direction-icon" ng-style="{transform: getDirection(),'-webkit-transform': getDirection()}" title="Direction">
            <div ng-show="business.showDistance">{{getDistance()}} {{units}}</div>
        </div>
        <div>
            <div class="thumbnail-category">Category: {{business.category}}</div>
            <div class="thumbnail-address" ng-bind-html="addressFormatted">{{addressFormatted}}</div>
        </div>
    </div>

</div>